*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

#netbeans
CompiladorADA95/nbproject/private/
CompiladorADA95/build/
CompiladorADA95/nbbuild/
CompiladorADA95/dist/
CompiladorADA95/nbdist/
CompiladorADA95/nbactions.xml
CompiladorADA95/.nb-gradle/